services:
  nzyme:
    build:
      context: .
      dockerfile: Dockerfile      
      args:
        - NZYME_VERSION=ubuntu-2204jammy-noarch-2.0.0-alpha.17
        - NZYME_VERSION_SHORT=2.0.0-alpha.17
    environment:
      - NZYME_NODE_NAME=nzyme-node-01
      - NZYME_DB_HOST=postgres
      - NZYME_DB_USERNAME=nzyme
      - NZYME_DB_PASSWORD=nzyme
      - NZYME_HOSTNAME=localhost
      - NZYME_PORT=22900
      - NZYME_JAVA_OPTS=-Xms256m -Xmx512m
    ports:
      - 22900:22900
    networks:
      - nzyme_net
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.5'
    depends_on:
      - postgres
  postgres:
    image: postgres:18
    shm_size: 128mb
    restart: always
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: '0.4'
    environment:
      - POSTGRES_PASSWORD=nzyme
      - POSTGRES_USER=nzyme
      - POSTGRES_DB=nzyme
    ports:
      - 5432:5432
    networks:
      - nzyme_net
    healthcheck:
        test: ["CMD-SHELL", "pg_isready"]
        interval: 30s
        timeout: 10s
        retries: 5
networks:
  nzyme_net: